.container {
  color: #707070;
  width: 38rem;
  border: #707070 solid 0.3rem;
  .content {
    padding: 1.6rem 2rem 1rem;
    h2 {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: bold;
    }
    .box {
      padding: 1.6rem 2rem 0;
      .headline {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: bold;
        ul {
          display: flex;
          margin-bottom: 0.6rem;
          button {
            margin-right: 0.5rem;
            font-size: 1rem;
            border: #707070 solid 0.1rem;
            border-radius: 0.2rem;
            font-weight: normal;
          }
          li {
            margin-right: 0.5rem;
          }
        }
      }
      .ditails {
        font-size: 1rem;
        line-height: 1.1rem;
        height: 12.8rem;
        overflow-x: scroll;
        margin-bottom: 2.3rem;
        ul {
          display: flex;
          margin-bottom: 0.6rem;
          position: relative;
          .checkBtn {
            height: auto;
            width: 2.155rem;
            display: block;
            position: relative;
            margin-right: 0.5rem;
            &::before {
              content: "";
              position: absolute;
              width: 1rem;
              height: 1rem;
              border: #707070 solid 0.1rem;
              border-radius: 0.2rem;
              top: 50%;
              left: 0%;
              transform: translate(50%, -50%);
              -webkit-transform: translate(50%, -50%);
              -ms-transform: translate(50%, -50%);
            }
          }
          svg {
            display: none;
            position: absolute;
            top: 50%;
            left: 1.1rem;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
          li {
            overflow-x: scroll;
            margin-right: 0.5rem;
            &:nth-child(3) {
              width: 7.915rem;
            }
            &:nth-child(4) {
              width: 7.35rem;
            }
            &:nth-child(5) {
              width: 6.23rem;
            }
            &:nth-child(6) {
              width: 3.9rem;
            }
          }
          .change {
            border: #707070 solid 0.1rem;
            border-radius: 0.2rem;
          }
        }
      }
      .btn {
        button {
          border: #707070 solid 0.1rem;
          border-radius: 0.2rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
