.container {
  color: #707070;
  width: 38rem;
  border: #707070 solid 0.3rem;
}
.container .content {
  padding: 1.6rem 2rem 1rem;
}
.container .content h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
}
.container .content .box {
  padding: 1.6rem 2rem 0;
}
.container .content .box .section {
  margin-bottom: 2rem;
}
.container .content .box .section h3 {
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: bold;
}
.container .content .box .section p {
  font-size: 1rem;
  line-height: 1.1rem;
  display: flex;
  margin-bottom: 0.5rem;
}
.container .content .box .section p span {
  width: 1.5rem;
  height: 1.1rem;
  border: #707070 solid 0.1rem;
  border-radius: 0.2rem;
  margin: 0 0.5rem 0;
}
.container .content .box button {
  border: #707070 solid 0.1rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
}
