.header {
  padding: 1rem 2rem 0 2rem;
}
.header div {
  border-bottom: #707070 solid 0.1rem;
  position: relative;
  display: flex;
}
.header div h1 {
  width: 34rem;
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: bold;
  margin: 0 0 1rem 0.9rem;
}
